<td>
    {{item.name}}
</td>
<td>
    {{item.description}}
</td>
<td>
    {{item.rarity}}
</td>
<td>
    {{#bs-button-group}}
        {{#bs-button type='primary' action='use'}}Use{{/bs-button}}
        {{#bs-button type='danger' action='toss'}}Toss{{/bs-button}}
    {{/bs-button-group}}
</td>
