<td>
    {{item.name}}
</td>
<td>
    {{item.description}}
</td>
<td>
    Rare {{item.rarity}}
</td>
<td>
    {{item.quantity}}
</td>
<td>
    {{#bs-button type='primary' action='use'}}Use{{/bs-button}}
    {{#bs-button type='danger' action='toss'}}Toss{{/bs-button}}
</td>
