<h4>Set Username</h4>
{{#bs-form action='set' formLayout='inline' model=this}}
    {{bs-form-element controlType='text' property='username' label='Username'}}
    {{bs-button type='primary' buttonType='submit' defaultText='Set'}}
{{/bs-form}}
